.main
    display: flex
    height: var(--header-height)
    width: 100%
    background: var(--primary-bgcolor)
    color: var(--primary-fgcolor)
    align-items: center
    justify-content: space-between
    padding: 10px
    transition: 0.5s

.actions
    display: flex
    gap: 10px
    cursor: pointer