.controls
    display: flex
    flex-direction: column-reverse
    flex-reverse
.gameTitleContainer
    display: flex
    justify-content: space-between
.gameTitle, .gameIndex
    padding: 2px 5px 5px 5px    
.gameBoardContainer
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    margin: 10px auto
.gameBoard
    display: flex
    flex-direction: column
    gap: 5px
    width: 50%
.word
    height: var(--word-height)
    color: var(--word-fgcolor)
    border: 3px outset transparent
    border-radius: 15px 5px 25px 5px
    padding: 0 10px
    text-transform: uppercase
    font-size: var(--word-fontsize)
.wordSequence
    background-color: var(--word-sequence-bgcolor)
    border-color: var(--word-sequence-bgcolor)
    text-align: left
.wordChain
    background-color: var(--word-chain-bgcolor)
    border-color: var(--word-chain-bgcolor)
    text-align: center
.wordGallery
    background-color: var(--word-gallery-bgcolor)
    border-color: var(--word-gallery-bgcolor)
    text-align: center
.wordCurrent
    border-color: var(--word-current-bordercolor)
.wordComplete
    background-color: var(--word-complete-bgcolor)
    border-color: var(--word-complete-bgcolor)
    animation-name: vh-scale
    animation-duration: 0.5s
    text-align: center
    transition: 0.5s

.wordError
    background-color: var(--word-error-bgcolor)
    border-color: var(--word-error-bgcolor)
    animation-name: h-shake
    animation-duration: 0.3s

@keyframes h-shake
    0%
        transform: translateX(0)
    25%
        transform: translateX(5px)
    50%
        transform: translateX(-5px)
    75%
        transform: translateX(5px)
    100%
        transform: translateX(0)

@keyframes vh-scale
    0%, 100%
        transform: scaleY(1)
    25%, 75%
        transform: scaleY(1.1)
    50%
        transform: scaleY(1.2)